[Unit]
Description = my greeting web app
After = syslog.target

[Service]
ExecStart = /var/my-greeting-web/my-greeting-web-0.1.0.jar
Restart = always
Type = simple
User = root
Group = root
SuccessExitStatus = 143